/* pseudo elements */

section h2::before,
section h2::after {
    content: "---";
}

/* pseudo classes */
nav li:hover{
    background-color: antiquewhite;
}

input:required{
    background-color: green;
}

input:focus{
    background-color: red;
}

input:disabled{
    background-color: gray;
}

input[type=email] {
    border: 4px solid;
}

li:last-child{
    background-color: gray;
}